html {scroll-behavior: smooth;
}


header {
    background-color: #1A0B2E ;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0;
}

section{
    padding: 0px 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.navbar {
    display: flex; /* Makes the container a flex container */
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto; /* Center the navbar content horizontally */
    padding: 0 20px;
    justify-content: center;
}

.nav-links a{
    color: #fff;
	text-decoration: none;
	
}

.nav-links{
    margin: 0;
}

.menu{
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
	font-size:20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-grow: 1;
    height: 100%;
    z-index: 1001;
    position: relative; /* Or use transform: translateY(0); */
    top: 0;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.menu a:hover{
    color:#6C37A0;
}

.menu li:hover {
	transition: 0.3s ease;
    transform: translateY(-7px);
}

.menu li {
	padding: 5px 14px;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

body{
    margin-top: 0px;
    background-color: #11071F;
}


.title {
    font-size: 50px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    padding:50px;
    text-align: center;
    margin-bottom: 0;

}
.name-title {
    position: relative;
    z-index: 1;
}

.name-title::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Make the glow take 100% of the .name-title's width */
    height: 80px; /* Adjust height for elliptical shape */
    border-radius: 50%;
    background: radial-gradient(rgba(108,55,160,0.4) 10%);
    filter: blur(25px);
    z-index: 0;
}

.contact {
    font-size: 20px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
}

.icon-container{
    display: flex;
    gap: 20px;
    padding:20px;
    justify-content: center;
    margin-bottom: 30px;
}

.icon-button{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 12px;
    text-decoration: none;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.icon-button img{
    width: 37px;
    height: 37px;
    transition: filter 0.3s ease;
}

.icon-button:hover {
    transform: translateY(-10px);
    border-color:#6C37A0;
    box-shadow: 0 8px 16px rgba(108,55,160,0.85);
}

.divider{
    width:80%;
    height:2px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0), /* Transparent at the left edge */
        #6C37A0, /* Your solid blue line color (adjust as needed) */
        rgba(0, 0, 0, 0) /* Transparent at the right edge */
    );
    margin: 40px auto; 
    max-width: 3000px;
    
}

.subtitle {
    font-size: 34px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgba(133,68,198,1);
    padding: 20px 150px;
}

.text{
    font-size: 16px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    padding: 20px 150px;
}

.skill-container{
    
   height: auto;
    padding: 30px 150px;
    max-width: 1000px;
    gap: 18px;
    width: fit-content;
    z-index: 1001;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    
}

.skills{
    font-size: 16px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    border: 1px solid #6C37A0;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
    padding:10px 20px;
    border-radius: 12px;
    white-space: nowrap;
    
}

.skills:hover{
    transform: translateY(-10px);
    border-color:#6C37A0;
    box-shadow: 0 8px 16px rgba(108,55,160,0.85);
    
    
    
}

.education-title{
   font-size: 24px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: bold;
    color: #fff;
    padding-left:150px; 
    margin-bottom: 5px;
}

.education-subtitle{
    font-size: 16px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: bold;
    color: #fff;
    padding-left:150px;
    margin-top: 0;
}

.project-container{
    justify-items: center;
    padding: 15px;
}
.project{
    border: 1px solid #6C37A0;
    border-radius: 12px;
    width:75%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    
}


.project-title{
    font-size: 20px;
    font-family: "Space Mono", monospace;
    font-weight: 800;
    font-style: bold;
    color: #fff;
    padding-left:50px; 
    margin-bottom: 5px;
}

.project-description{
    font-size: 16px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    padding-left:50px; 
    line-height: 20px;
    margin-bottom: 0px;
    
}

ul {
    padding-left: 100px;
}

li {
    color: #fff;
     font-size: 16px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    
}

.language-container{
    display: flex; /* Makes the container a flex container */
    align-items: center;
    height: 60px;/* Center the navbar content horizontally */
    padding: 0 0px;
    gap: 18px;
    width: fit-content;
    margin: 0 auto;
    z-index: 1001;
    position: relative; /* Or use transform: translateY(0); */
    top: 0;
    
    
    
}

.language{
    font-size: 12px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    border: 1px solid #6C37A0;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
    padding:10px;
    border-radius: 12px;
}


.button-text{
    font-size: 14px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    border: 1px solid #6C37A0;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
    padding:10px;
    border-radius: 12px;
    text-decoration: none;
    align-self: center;
    display: inline-block;
    margin: 15px 0px;

}

.button-text:hover{
    transform: translateY(-5px);
    border-color:#6C37A0;
    box-shadow: 0 8px 16px rgba(108,55,160,0.85);
    background-color: #6C37A0;
}

footer{
    background-color: #11071F;
    border-top: 1px solid #6C37A0;
    height: 50px;
    margin: 100px 0px;
}




@media (max-width: 768px) {
    .name-title-text {
        font-size: 1.2em; /* Smaller font on smaller screens */
    }
    .name-title::before {
        height: 60px; /* Adjust glow height for smaller text */
        filter: blur(15px); /* Less blur for smaller glow */
    }
}

@media (max-width: 480px) {
    .name-title-text {
        font-size: 1em; /* Even smaller font on very small screens */
    }
    .name-title::before {
        height: 40px; /* Adjust glow height */
        filter: blur(10px);
    }
}